<h1>Ask a question</h1>
<form action="/answer" data-turbo="false">
  <div class="form-group">
    <label for="exampleFormControlInput1">Your question:</label><br>
    <input type="text" name="question" value="<%= params[:question] %>">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
